.home-page {
    padding: 20px;
  }
  
  .main-section {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .explore-btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .featured-mods, .latest-discussions {
    margin: 70px 0;
  }
  
  .mods-grid, .discussions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 10px;
  }
  

  .mods-grid > * {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #999999;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .mods-grid img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    border-radius: 10px;
  }
  
  .mods-grid h3 {
    margin: 15px 0 10px;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
  }
  
  .mods-grid p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
  }
  
  .mods-grid > *:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  

  .discussions-grid > * {
    background-color: #999999;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .discussions-grid h3 {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
  }
  
  .discussions-grid p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
  }
  
  .discussions-grid > *:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  